<!DOCTYPE html>
<html>
    <head>
        <title>{{ error.getCode() }} {{ error.getMessage() }}</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>{{ error.getCode() }} {{ error.getMessage() }}</h1>
        <p>The page you are looking for does not exists.</p>

        {% if error.getPrevious() %}
            {% set error = error.getPrevious() %}
            <h2>Caused by {{ error|get_class }}</h2>
            <p>{{error.getMessage() }}</p>
        {% endif %}
    </body>
</html>
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
