{% set actual_error = error.getPrevious()|default(error) %}
{% if actual_error|get_class == "Twig_Error" %}
    {% set actual_error = actual_error.getPrevious()|default(actual_error) %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ error.getCode() }} {{ error.getMessage() }}</title>
        <meta charset="utf-8" />
        <style type="text/css">
            * { box-sizing: border-box; }
            html, body { width: 100%; height: 100%; }
            body { height: auto; min-height: 100%; background: #C3C3C3; color: black; margin: 0; padding: 1em; display: flex; justify-content: center; font-family: arial, helvetica, sans-serif; flex-direction: column; }
            .panel { margin: auto; background: white; border-radius: 0.2em; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); width: 100%; max-width: 60em; padding: 1em; padding-left: 3em; position: relative; }
            .code { background: #b71c1c; color: white; font-size: 1.3em; font-weight: bold; padding: 0.2em 0.5em; position: absolute; left: -1em; box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); border: solid 1px #b71c1c; }
            h1 { font-size: 1.3em; color: #b71c1c; margin: 0; padding-top: 0.2em; padding-bottom: 0.2em; border-top: solid 1px white; border-bottom: solid 1px white; }
            h2 { font-size: 1em; color: #616161; }
            p, .panel>ol { font-size: 0.8em; }
            .panel>ol { margin: 0; padding: 0; list-style-position: inside; }
            .panel>ol>li { background: #e3f2fd; padding: 0.5em 1em; margin: 0; }
            .panel>ol>li:nth-of-type(2n) { background: #bbdefb; }
            .panel>ol>li:hover { background: #82b1ff; }
            code, pre { border: solid 1px #bdbdbd; padding: 0.2em 0.5em; background: #e0e0e0; font-family: courier; }
            code { display: inline-block; }
            li.highlight { background: #bbdefb; }
            ol ol { margin: 0; padding: 0; list-style-position: inside; }
        </style>
    </head>

    <body>
        <div class="panel">
            <div class="code">{{ error.getCode() }}</div>
            <h1>{{ error.getMessage() }}</h1>

            {% if display_errors %}
            <h2>{{ actual_error|get_class }} {% if actual_error.getCode() != 0 %}(code: {{ actual_error.getCode() }}){% endif %}</h2>

            <p>In <code>{{ actual_error.file }}</code> on line <code>{{ actual_error.line }}</code></p>
            <p><code>{{ actual_error.getMessage() }}</code></p>

            <h2>Stack trace</h2>
            <p><em>Most recent call first.</em></p>
            <ol>
                {% for frame in actual_error.getTrace() %}
                    <li>
                        File <em>{{ frame.file }}</em>, line <em>{{ frame.line }}</em>
                        {% set lines = get_error_lines(frame.file, frame.line) %}
                        <pre><ol start="{{ lines[0][0] }}">{% for content in lines %}<li{% if content[0] == frame.line %} class="highlight"{% endif %}>{{ content[1] }}</li>{% endfor %}</ol></pre>
                        <b>Call:</b> <code>{{ frame.class }}{{ frame.type }}{{ frame.function }}({% for arg in frame.args %}{{ arg|var_dump(false)|e('html') }}, {% endfor %})</code>
                    </li>
                {% endfor %}
            </ol>
            {% else %}
            <p>We are sorry, something went horribly wrong. We are already working on fixing this problem to be back up as soon as possible.</p>
            {% endif %}
        </div>
    </body>
</html>
