@import url('https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css');

form input, form select, form textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.form-control {
    position: relative;
    margin-bottom: 0.5rem;
}

.form-control.has-error {
    border-bottom-color: #c62828;
}

.form-control.has-error:after, .form-control.has-error label, form .help-block.error {
    color: #c62828 !important;
}

form .help-block.error {
    font-weight: 500;
}

form .help-block {
    color: rgba(0,0,0,0.6);
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.0333333333em;
    display: block;
    margin: 0;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.form-control.required>input[type=text], .form-control.required>input[type=date] {
    padding-right: 3rem;
}

.form-control.required:after {
    font-family: 'Material Design Icons';
    content: '\F05D6';
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.5rem;
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    margin-top: -1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.form-control-input-text, .form-control-input-password, .form-control-input-date, .form-control-select {
    background: {{ bgcolor }};
    border-bottom: solid 1px rgba(0,0,0,0.42);
}

input[type=text], input[type=password], input[type=date], select, .form-control .text-replacement {
    border: none;
    background: none;
    border-bottom: solid 2px {{ bgcolor }};
    color: rgba(0,0,0,0.87);
    line-height: 1.75rem;
    letter-spacing: 0.009375rem;
    padding: 1.5em 1em 0.5em;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.form-control.no-label input[type=text], .form-control.no-label input[type=password],
.form-control.no-label input[type=date],
.form-control.no-label select, .form-control.no-label .text-replacement {
    padding: 0.6em;
}

.form-control-select.no-label .text-replacement {
    line-height: normal;
    padding: 0.6em 0.7em 0.3em 0.7em;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    background: red;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0 30px {{ bgcolor }} inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font: inherit;
}

input[type=checkbox] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
}

input[type=checkbox]:after {
    content: '\F0131';
    font-family: 'Material Design Icons';
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

input[type=checkbox]:checked:after {
    content: '\F0132';
}

.form-control>input[type=text], .form-control>input[type=password], .form-control>input[type=date], .form-control>select {
    margin-bottom: -1px;
}

.form-control-input-text label, .form-control-input-password label, .form-control-input-date label, .form-control-select label {
    position: absolute;
    color: rgba(0,0,0,0.6);
    left: 1em;
    right: auto;
    top: 1.2em;
    pointer-events: none;
    font-weight: 400;
    letter-spacing: 0.009375rem;
    transition: transform .15s cubic-bezier(.4,0,.2,1), color .15s cubic-bezier(.4,0,.2,1);
    transform-origin: left top;
}

.form-control-checkbox {
    display: flex;
    align-items: center;
}

.form-control-checkbox label {
    display: block;
    flex-grow: 1;
    line-height: 2rem;
}

.form-control-checkbox-list {
    display: flex;
    flex-direction: column;
}

.form-control-checkbox-list>label {
    order: 0;
    margin-bottom: 0.5rem;
}

.form-control-checkbox-list>div {
    order: 1;
}

.form-control-checkbox-list>.checkbox>label {
    display: flex;
    align-items: center;
}

.form-control input[type=text]:focus+label, .form-control input[type=text]:not(:placeholder-shown)+label,
.form-control input[type=password]:focus+label, .form-control input[type=password]:not(:placeholder-shown)+label,
.form-control input[type=date]:focus+label, .form-control input[type=date]:not(:placeholder-shown)+label,
.form-control select+label {
    transform: translateY(-50%) scale(0.75);
    color: {{ basecolor }};
}

input[type=text]:focus, input[type=password]:focus, select:focus,
input[type=date]:focus {
    border-bottom-color: {{ basecolor }};
}

.form-control select {
    padding-left: 1em;
    margin-top: 0.1rem;
    padding-right: 2em;
}
